body{
    background-color: #1f1f1f;
    color: rgb(55, 186, 226);
    font-family: 'lucida sans',Arial, Helvetica, sans-serif;
}

.ftitle {
    background-color: rgb(235, 235, 235);
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

div .bio{
    color: rgb(71, 71, 71);
    width: 40%;
    text-align: justify;
    font-size: 22px;
    padding: 20px 8px ;
    line-height: 25px;
}

.img{
    padding:20px 2px ;
    width: 30%;
    float: right;
}

#userName{
    padding-left: 8px;
    width: 40%;
    text-align: justify;
    font-size: 26px;
    color: rgb(55, 186, 226);
}
